.p3-sec-1{
    padding-top: 5em;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color:white;
}
.leftside-img{
    display: flex;
    margin-left: 2em;
}
.inner-leftside{
    margin-top:1em;
    margin-left:16em;
    display: flex;
    height: 50px;
    width:250px;
    background-color:white;
    box-shadow: 5px 5px 20px lightgray;
    border-left: 5px solid orange;
} 

.inner-leftside h2{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:skyblue;
    margin-left:.5em;
    margin-right:.5em;
}
.inner-leftside p{
    display:flex;
    align-items: center;
    
}
.rightside{
    display: flex;
    margin-top: -3em;
    margin-left: 5em;
}
.rightside ul{
    margin-top: 1em;
}
.rightside ul li{
    margin-left: 2em;
    list-style-image: url('../../images/Bullet-Points-2.png');
    list-style-type:circle;
    

}
.button-orange{
    cursor: pointer;
    width: 135px;
    height: 40px;
    margin-left: 1em;
    margin-top:2em;
    border-radius: 20px;
    background-color: orange;
    border: none;
    color: white;
}
.button-orange a{
    color: white;
    text-decoration: none;
}

.p3-sec-2{
    height: 300px;
    background-image: url(../../images/blue-banner.jpg);
    background-size: cover;
}

.p3-sec-3{
    height: 370px;
    background-color:white;
    padding-top: 2em;
}


.p3-sec3-text{
    display: flex;
    justify-content: center;
}
.line-2-margin3{
   position: relative;
   top:0em;
   margin-right:-4em;
}
.p3-sec3-text p{
    font-size: 1.1rem;
    display: flex;
    align-items:flex-end;
    margin-left:4em;
}
.p3-big-txt{
    width:30vw;
    margin-bottom:.3em;
}
.p3-img2{
    width:17vw;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.p3-img-set{
    display: flex;
    height: 261px;
    justify-content: center;
    margin-right: 0em;
    align-items: flex-end;
}

