
.section-1{
   
    height: 500px;
    width: 100%;
    background-image: url(../../images/hexagons-2.jpg);
    background-size: cover;
    text-align: center;
}
.margin-heart2{
margin-top: 5em;
}

.section-1-inner{
    display: flex;
    justify-content: center;
}
.p2-top-h1{
    margin-bottom: 2em;
}
.cards-sec{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.cards{
    border-radius: 5px;
    background-color:cornsilk;
    background-image: url(../../images/curved-line.png);
    width: 180px;
    height: 240px;
    margin-left: 1em;
    box-shadow: 5px 5px 10px #888888;
}
.card-p1{
color: grey;
font-weight: 700;
margin-top:.2em;
}
.card-p2{
    font-weight: 700;
    margin-top:0.5em;
    margin-bottom:3em;
}
.i-orange{
 margin-top:.4em;
 color: orange;
 margin-bottom:.2em ;
}

.circle-pos{
    //take this out
    height: 100%;
   background-color: red;
    align-items: flex-end;
}
.circle{
    cursor: pointer;
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:skyblue;
    margin:0 auto;

}
.arrow-pos{
    color:white;
    margin: 0 auto;
    position: relative;
    top:.8em;
}

.section-2{
 width: 100%;
 height: 500px;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 background-image: url(../../images/secondlowerpage.jpg);
 background-size: cover;
 padding-bottom: .1em;

}

.inner-sec-2{
    display: flex;
    justify-content: center;
    margin-left: 4em;
}
.sec2-img{
    justify-content: flex-start;
    display: flex;
    flex-wrap: nowrap;
  
}
.sec2-text{
    height: 200px;
    justify-content: flex-start;
    margin-left: 1em;
}

.img-doc{
    height: 200px;
    margin-right:1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.last-icon{
    height:0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top:-2em;
    right:1em;
}

.arrow-pos2{
    color:white;
    margin: 0 auto;
    position: relative;
    top:1.3em;
    margin-left:1.5em;
}
.circle2{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:orange;
    //margin-top: -1em;
}
.orange-line{
    display: inline-block;
    border-radius: 50px;
    width:30px;
    height:3px;
    background-color: orange;
}
.line-2-margin2{
    margin-right: .5em;
    margin-top:.7em;
}
.blue-1{
    display: flex;
    color: blue;
}

