@import "homepage2";
@import "homepage3";
@import "homepage4";
@import "footer";
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:100%; 
    font-family: 'Fjalla One', sans-serif;
}
.container-homepage1{
    width:100%;
    background-image: url(../../images/doctor-table.jpg);
    background-repeat: no-repeat,;
    background-size:cover;
}
    
.upper-sec{
    height: 600px;
}
.main-header{
    position: relative;
    top:1em;
}
.main-nav{
    display: flex;
    justify-content: center;
    margin-top: 0em;
    width:90%;   
}
.main-nav h4{
    cursor: pointer;
    font-size: .8rem;
    font-weight: 700;
    width: 10%;
    color:orange;
}
.main-nav ul{
    display: flex;
    list-style: none;
}
.main-nav ul li {
    font-size: .8rem;
    font-weight: 700;
    color:white;
    margin-left:1em;
    
}
.main-nav div{
    display: flex;
    margin-left: 5%;
}
.main-nav a{
    color:white;
    text-decoration: none;
}
.icon-div{
    cursor: pointer;
    background-color: skyblue;
    border-radius: 50%;
    width: 37px;
    height: 35px;
    margin-top: -.5em; 
}
.magnify-glass{
  color:white;
  transform: rotate(90deg);
  margin-left: 0em;
}
.chevron{
    cursor: pointer;
    margin-left: .5em;
    color:white;
}
.main-nav div button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .1em;
    width: 100px;
    height: 35px;
    margin-left: 1em;
    margin-top: -.5em;
    border-radius: 20px;
    background-color: orange;
    border: none;
    color: white;
}
.button-link{
    display: flex;
}
.button-link p{
    margin-top:.8em;
}
.plus{
    font-size: 1.8rem;
    margin-right:.2em

}

.main-body{
    width:100%;
    color:white;
}
.main-body h1 {
    font-size:3rem;
    text-align: center;
    margin-top: 4em;
}
.main-body p{
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
.search-bar{
    display: flex;
    justify-content: center;
}
.inner-search-bar{
    background-color: rgba(31, 6, 100, 0.9);
    width: 35%;
    height: 55px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}
.the-bar{
    width: 450px;
    margin:.3em;
    margin-right:1em;
    border-radius: 20px;
    padding: 1em;
}

.search-btn{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: .5em;
    margin-right:.5em;
    background-color: orange;
    border: none;

}

.search-inputs{
    cursor: pointer;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.radio{
    margin-left: 1em;
}
.lower-sec {
    height: 400px;
    background-image: url(../../images/medicals.jpg);
    background-repeat: no-repeat,;
    background-size:cover;
    text-align: center;
    margin-top: 6em;
}
.heart{
    color:orange;
}
.margin-heart1{
    margin-top:8em;
    margin-bottom: 1em;

}

.p-blue{
    color:blue;
    text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
}
.main-footer-h2{
    font-size: 2.5rem;
    font-weight: 700;
}


